

  <footer class="pc">
    <a href="https://github.com/tamarlederer" class="github">
        <i class="fab fa-github fa-3x" aria-hidden="true"></i>
    </a>
    <a href="https://codepen.io/AAMutlu20" class="codepen">
        <i class="fab fa-codepen fa-3x" aria-hidden="true"></i>
    </a>
    <div class="copyright">
        <p> Made by <a href="https://www.linkedin.com/in/%D7%AA%D7%9E%D7%A8-%D7%9C%D7%93%D7%A8%D7%A8-10b349314/" target="_blank">
            <span>&nbsp;TEHILA&TAMAR&nbsp;</span></a>
        </p>
    </div>
</footer>