   
    <link rel="shortcut icon" href="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <div class="loader-wrap">
      <div class="loader"></div>
  </div>

  <div class="dots">
      <div class="active one" data-x="header"></div>
      <div class="two" data-x=".recipes"></div>
      <div class="three" data-x=".fixed-image"></div>
  </div>

  <!-- Start Header -->
  <header>
      <div class="text">
          <h2>Welcome</h2>
          <h1>MedVisit</h1>
          <div class="arrow">
              <span class="left"></span>
              <i class="fas fa-asterisk"></i>
              <span class="right"></span>
          </div>
          <span>Ready To Be Opened</span>
          <div class="button"><button>Explore</button></div>
      </div>
      <div class="contact-header">
        <video autoplay loop muted>
          <source src="../../assets/images/video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="arrow-down"></div>
  </header>
  <!-- End Header -->

  <!-- start About Us -->
  <div class="about-us">
      <div class="text">
          <h2>Discover</h2>
          <h3>Our Story</h3>
          <div><i class="fas fa-asterisk"></i></div>
          <p>MedVisit, your ultimate solution for seamless appointment scheduling, offers intuitive interfaces and real-time updates. Begin your healthcare journey with confidence as MedVisit helps you find the best doctors and clinics effortlessly. From regular check-ups to specialized consultations, never miss a beat. Plan your appointments with ease, ensuring your health is always on track. With MedVisit's user-friendly platform, scheduling is a breeze. Experience the convenience of efficient planning and timely reminders. Let MedVisit elevate your healthcare experience, making every appointment a step towards better health and well-being.</p>
      </div>
      <div class="image-container">
          <div class="image image1"></div>
          <div class="image image2">
              <img src="../../assets/doctor-man-consulting-patient-while-filling-up-application-form-desk-hospital_1150-12966-pb5shrjln8z9oibgwkk9kq0btxjodtz7x3ja85oih4.jpg" alt="Animal Photo">
          </div>
      </div>
  </div>
  <!-- End About Us -->

  <div class="recipes">
      <div class="image"></div>
      <div class="text">
          <h2>Tasteful</h2>
          <h3>Pictures</h3>
      </div>
  </div>


  <!-- start Menu -->
  <div class="menu">
      <div class="box-model">
          <i class="fas fa-times fa-2x close"></i>
          <div class="arrow">
              <div class="arrow arrow-right"></div>
              <div class="arrow arrow-left"></div>
          </div>
          <div class="box-image-container">
              <div class="box-image">
                  <img src=""  alt="Animal Photo">
              </div>
          </div>
      </div>
      <div class="menu-image-container">
          <div class="image active">
              <img src="../../assets/i-love-my-job-so-much_329181-2178.jpg" alt="Animal Photo">
          </div>
          <div class="image">
              <img src="../../assets/medium.jpg" alt="Animal Photo">
          </div>
          <div class="image">
              <img src="../../assets/אתרי-רופאים-1024x683.jpg" alt="Animal Photo">
          </div>
          <div class="image">
              <img src="../../assets/hadas3.jpg" alt="Animal Photo">
          </div>
      </div>
      <div class="text">
          <h2>Discover</h2>
          <h3>MedVisit</h3>
          <div><i class="fas fa-asterisk"></i></div>
          <p>Our app, MedVisit, offers a seamless appointment scheduling experience. With an interactive interface at your fingertips, personalized navigation to your preferred doctors, and user-friendly guidance throughout, your medical appointments will be convenient and efficient. Stay updated in real-time about special events, appointment changes, and health guidelines. Let MedVisit enhance your appointment scheduling experience today!</p>
         <!-- <div><a class="a-CTA" href="#">View The Full Options</a></div> -->
      </div>
  </div>
  <!-- End Menu -->

  <!-- Start fixed-image -->
  <div class="fixed-image">
      <div class="text">
          <h2>The Perfect</h2>
          <h3>Blend</h3>
      </div>
  </div>
  <!-- End fixed-image -->

  <!-- start Reservation -->
  <div class="reservation">
    <div class="text">
        <h2>Effortless</h2>
        <h3>Healthcare</h3>
        <div><i class="fas fa-heartbeat"></i></div>
        <p>We offer a streamlined and efficient healthcare scheduling experience that caters to both patients and healthcare providers. Our platform ensures every appointment is easy to manage, providing a seamless healthcare journey every time.</p>
        <!-- <div><a class="a-CTA" href="#">Schedule an Appointment</a></div> -->
    </div>
      <div class="image-container">
          <div class="image image1">
              <img src="../../assets/2.jpg" alt="doctor Photo">
          </div>
          <div class="image image2">
              <img src="../../assets/1.jpg" alt="doctor Photo">
          </div>
      </div>
  </div>
  <!-- End Reservation -->

  <!-- Start Footer -->

  <!-- End Footer -->

  <script src="js/main.js"></script>
  <script src="js/main.min.js"></script>
<!-- </body> -->
<!-- </html> -->