

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .avatar-container {
    margin-bottom: 70px;
  }
  
  .carousel-container {
    width: 100%; 
  }

.small-image {
  width: 100px; /* הגדרת הרוחב של התמונה */
  height: 100px; /* הגדרת הגובה של התמונה */
  object-fit: cover; /* כדי שהתמונה תותאם למידות שהוגדרו */
}

  